*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.disable-select{
  zoom:none;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
 text-decoration: none;
 color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.bullshit {
  color: #555;
  font-family: 'Pushster', cursive;
  margin-left: 45px
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  transition: transform 0.2s;
}
.btn:hover {
  background: black;
  transform: scale(1.25);
}
.header {
  background: radial-gradient(#fff,#ffd6d6);
}
<!--fff-ffd6d6-0riginal-->
<!--ffff00-ffa500=Me-->
<!--ffa500-ffff00=Mommy-->
<!--0000ff-000080=Alsome-->
.header .row {
  margin-top: 70px
}
.categories {
  margin-left: 70px 0;
  }
.col-3 {
    flex-basis: 28.25%;
    min-width: 100px;
    margin-bottom: 30px;
}
col-3 img {
  width: 100%;
}
.col-2 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.a {
  line-height: 25px;
  color: red;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding:10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.h {
  font-family: 'Oswald', sans-serif;
  margin-left: 55px;
}
em {
  color: white;
}
.j {
  color: yellow;
}
.rating {
  display: flex;
  flex-direction: row;
}
.title {
  text-align: center;
  position: relative;
  color: #555;
  font-family: 'Oswald', sans-serif;
}
.title:after {
content:'';
background: #ff523b;
width: 80px;
height: 5px;
border-radius: 5px;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
h4 {
  color: #555;
}
.col-4 p{
font-size:14px;
}
.rating {
  color: orange;
}
.col-4:hover {
transform: translateY(-5px);
}
 /*--offer--*/
.offer {
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
  margin-left: -25px;
  margin-right: -25px;
}
.col-2 .offer-img{
  padding: 50px;
}
small {
  color: #555;
}

/*-----testimonial-----*/

.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
}
